
.update {
    margin-top: 0px;
  	width: 400px;
    height: 450px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.update form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.update h1 {
  	text-align: center;
  	color: #eaebed;
  	font-size: 18px;font-weight: bold;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
    font-family: sans-serif;
    letter-spacing: 0px;
    background-color:#015896; /*  #2f3947 #015896  */
    font-weight: normal;
    border-radius:2px 2px 0px 0px; 
}


.update form input[type="password"], .update form input[type="text"] {
  	width: 340px;
  	height: 45px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

/*
.update form .submit {
  background-color: #015896; /*  #2f3947 #015896  /
}
*/

.update form a:hover {
  background-color: #888;
    transition: background-color 0.2s;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: 15px;
  position: relative;
  z-index: 2;
}

.toggle-password {
color: #015896; /*  #2f3947 #015896  */
}


