.footer {
background-color: rgba( 255, 255, 255, 0.9); 
position: fixed; 
bottom: 0px; 
width: 100%;
}

.footer p {
	color: #818589;
	font-weight: 600;
}

.footer table { 
width: 100%; 
}

.footer tr td:nth-child(1n) {
float: left; 
margin-left: 10px;
}

.footer tr td:nth-child(2n) {
float: right; 
margin-right: 10px;
}